.layout {
    display: grid;
    grid-template-areas: 
        "header header"
        "main navbar"
        "footer footer";
    grid-template-columns: 1fr 200px; 
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #faaae6;
    color: rgb(78, 65, 65);
    text-align: center;
    padding: 20px;
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f4f4f4;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #f3afaf;
    padding: 10px;
    display: block;
}

.principal {
    display: grid;
    grid-template-columns: repeat(4, 200px); 
    gap: 20px;
    justify-content: center; 
}

.tarjetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 0, 234, 0.253);
}

.tarjetas img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.footer {
    grid-area: footer;
    background-color: #f7bdbd;
    color: rgb(14, 13, 13);
    text-align: center;
    padding: 10px;
}

.tarjetas button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #faaae6;
    color: white;
    cursor:pointer;
    border-radius: 5px;
    width:100%;
}

@media (max-width: 768px) {
    .layout {
        grid-template-areas: 
            "header"
            "main"
            "navbar"
            "footer";
        grid-template-columns: 1fr; 
        
    }

    .principal {
        grid-template-columns: 1fr; 
    }

    .navbar {
        padding: 10px;
    }

    .tarjetas img {
        max-width: 80%; 
    }
}
